.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 39, 39);
    padding: 40px 10px;

}

.right{
    color: white;
    display: flex;
    flex-direction: column;
    gap:15px;

}
.right div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.left{
    color: white;
}

@media (max-width:700px) {
    .footer{
        flex-direction: column;
        gap:30px
    }
    .right,.left{
        padding-left: 30px;
    }
}